body {
    background-color: lavenderblush;
}

h1, h2 {
    text-align: center;
    font-family: Georgia, sans serif;
    background-color: rgb(233, 185, 201);
    color: rgb(166, 102, 128);
}

p, li {
    color: rgb(159, 38, 78);
}

.picture, .friends-family, .music, .theater {
    color: rgb(165, 75, 105);
}

#home {
    background-color: rgb(241, 201, 214);
    color:rgb(141, 30, 67)
}